<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <title></title>
</head>

<body>
    <h1>Background image</h1>
</body>
</html>

h1{
    text-align: center;
}

body{
    background-image: url('images/entrance_of_the_met.jpg');
}

body{
    background: url("images/entrance_of_the_met.jpg") no-repeat top center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

<style type="text/css">
  body {
    font-family: 'sans_serif', sans-serif; /* Specify the desired font family */
  }
  
<style type="text/css">
  
  body {
    font-size: 10pt;
    color: white;  
    font-weight: bold;  
  }
  
  highlight {
            background-color: rgba(0, 0, 0, 0.6);  
            padding: 5px; /* Adjust the padding as needed */
  }
  
</style>
